div.showme {
	/*
	visibility:visible;
	*/
	position:absolute;
	display:block;
	top:30px;
	left:10px;
	width:260px;
	height:250px;
	background-color:#7EB0DE;
	margin:5px;
	padding:10px;
	border: 2px solid #000000;
	z-index:10;
}
div.hideme {
	display:none;
	position:fixed;
	z-index:0;
}
a:link {
	color:red;
}
.nav {
	font-size:16pt;
}
a.nav {
	color:red;
}
div.nav {
	float:right;
	font-size:11pt;
	padding:6px 0 0;
}
